<html lang="en">

<head>
    <base target="_parent">
</head>

<body>

    <table border="0" height="100%" width="100%" borderCollapse="collapse" borderColor="" cellspacing="0" cellpadding="0">

        <tr>
            <td bgColor="100010" width="513" align="center">
                <a href="https://diyhrt.cafe/index.php/Main_Page" target="_blank">
                    <img src="https://not-a.link/APUPw6N.gif" alt="this website is powered by estrogen!" width="88"
                        height="31">
                </a>
                <a href="https://otherkin.fandom.com/wiki/Therians" target="_blank">
                    <img src="https://88x31.kate.pet/therian.png" alt="reject humanity" width="88" height="31" />
                </a>
                <img src="https://88x31.kate.pet/acab2.gif" height="31" />
                <a href="http://www.mabsland.com/Adoption.html" target="_blank"><img
                        src="https://88x31.kate.pet/Censor_NYRc.gif" height="31" /></a>
                <a href="https://steamcommunity.com/id/ItsLusio" target="_blank">
                    <img src="https://88x31.kate.pet/steam.gif" height="31" />
                </a>
                <a href="/my-button/">
                    <img src="/my-button/lily.gif" alt="88x31" width="88" height="31" />
                </a>

        </tr>

    </table>




</body>

</html>